<div id="home-container">
  <div id="recipes-generator">
    <h1>Recipes generator</h1>
    <form v-on:submit.prevent>
      <div>
        <label>Provide a list of ingredients and we'll suggest a recipe for you!</label>
      </div>
      <div>
        <textarea style="width: 100%; height: 100px" v-model="ingredients"></textarea>
      </div>
      <input @click="fetchRecipes" :disabled="!isFormValid" type="submit" value="Generate recipe">
    </form>

    <div v-if="isLoading">
      <h4>Loading...</h4>
    </div>

    <div v-if="loadingError">
      <h4>{{loadingError}}</h4>
    </div>

    <div v-if="lastReqIngredients">
      <h4>Recipes for:</h4>
      <div style="white-space: pre-line">{{lastReqIngredients}}</div>
    </div>

    <div v-if="showRecipes">
      <div v-for="(recipe, index) in recipes" :key="recipe">
        <h3>{{index+1}}. {{ recipe.name }}</h3>

        <p>Ingredients</p>
        <ul>
          <li v-for="ingredient in recipe.ingredients" :key="ingredient">
            {{ ingredient }}
          </li>
        </ul>

        <p>Instructions</p>
        <ul>
          <li v-for="instruction in recipe.instructions" :key="instruction">
            {{ instruction }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
